@import "base.less";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center,
p {
  text-align: center;
}
.padding-sides {
  padding-left: @padding25;
  padding-right: @padding25;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  @media only screen and (max-width: 800px) {
    .center();
  }
}
.flexcolumnpadding {
  padding: @padding20;
}
.col-2 {
  flex-basis: @rowflexwidth / 2;
  min-width: 300px;
  .flexcolumnpadding();
  h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }
}
.col-3 {
  flex: 0 1 @rowflexwidth / 3;
  max-width: 33.33%;
}
.col-4 {
  flex-basis: @rowflexwidth / 4;
  min-width: 200px;
}
body {
  font-family: "Poppins", sans-serif;
}

.header {
  background: radial-gradient(@white-color, @primary-color);
  .row {
    margin-top: 70px;
  }
}
.container {
  max-width: 1300px;
  margin: auto;
  .padding-sides();
}
.navbar {
  display: flex;
  align-items: center;
}
/* --- LESS Nesting --- */
nav {
  flex: 1;
  text-align: right;
  ul {
    display: inline-block;
    list-style-type: none;
    @media only screen and (max-width: 800px) {
      position: absolute;
      top: 31px;
      left: 0;
      background: #333;
      width: 100%;
      overflow: hidden;
      transition: max-height 0-0.5s;
    }
    li {
      display: inline-block;
      margin-right: 20px;
      @media only screen and (max-width: 800px) {
        display: block;
        margin-right: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      a {
        @media only screen and (max-width: 800px) {
          color: #fff;
        }
      }
    }
  }
}
#MenuItems {
  z-index: 1000;
}
a {
  text-decoration: none;
  color: #555;
}
.current {
  border-bottom: 2px solid @button-red-color;
}
.signin-link {
  display: none;
  margin: 0px;
  @media only screen and (max-width: 800px) {
    display: block;
    margin-right: 25px;
  }
}
.btn {
  display: inline-block;
  background: @button-red-color;
  color: #fff;
  padding: 8px 20px;
  margin: 10px 0px;
  &:hover {
    background: @footer-color;
  }
}
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
  float: right;
  @media only screen and (max-width: 800px) {
    display: block;
    cursor: pointer;
  }
}
.dashboardlaptop {
  width: 100%;
  height: auto;
}
.home-dashboard {
  padding-top: @padding25;
  .col-2 p {
    .center();
  }
}
.businessaccount {
  .dashboardlaptop(); /* LESS Mixins */
}
.home-features,
.home-userstoreis {
  .center();
  padding-top: @padding25;
  .col-3 {
    .center();
    padding: 40px 20px;
  }
  .col-2 h4,
  p {
    .center();
  }
}
.home-userstoreis {
  padding-bottom: @padding25;
  .userstoryname {
    text-align: right;
  }
  img {
    border-radius: 99px;
  }
}
.small-container {
  max-width: 1300px;
  margin: auto;
  .padding-sides();
  .col-2 h4 p {
    text-align: center;
  }
  .col-3 {
    .center();
    padding: 40px 20px;
  }
  .feature-icon {
    height: 45px;
  }
}

.learn_more_below_display {
  display: inline-block;
  padding: 10px;
  border: 1px solid @button-red-color;
  background: @button-lightred-color;
  border-radius: 3px;
  color: inherit;
  font-size: 15px;
  .center();
  &:hover {
    background-color: #f6eff1;
  }
}
/* --- request demo page --- */
.page-container {
  background: radial-gradient(#fff, #d1e8fd);
  position: relative;
  min-height: 90vh;
}
#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.feature-heading {
  .col-2 h1 {
    font-size: 30px;
    line-height: 60px;
    margin: 25px 0;
    .center();
  }
}
.request-demo {
  padding: @padding25 0px;
}
.form-container {
  width: 450px;
  position: relative;
  padding: 20px 25px;
  background: #fff;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  .row {
    padding-bottom: 15px;
  }
  .col-2 {
    width: 50%;
    padding: 0px;
    min-width: auto;
  }
  .paddingright {
    padding-right: 5px;
  }
  label {
    float: left;
  }
  .label {
    float: left;
  }
  input,
  select,
  textarea {
    width: 100%;
    padding: 5px;
  }
  input[type="checkbox"] {
    width: 15px;
    padding: 5px;
  }
  .input-display {
    display: block;
  }
  @media only screen and (max-width: 800px) {
    width: 100%;
    .row {
      display: block;
    }
    .col-2 {
      width: 100%;
    }
  }
}
.headerright {
  flex: 1;
  text-align: right;
  @media only screen and (max-width: 800px) {
    position: absolute;
    top: 0;
    margin-top: 25px;
  }
}
/* -- Features Page--*/
.feature-nav {
  position: relative;
  padding-bottom: 20px;
}
.scroll-container {
  position: absolute;
  width: 35px;
  top: 0;
  bottom: 0;
  background-color: #0c0b0b;
  opacity: 0.6;
  cursor: pointer;
  z-index: 2;
  display: none;
  @media only screen and (max-width: 800px) {
    display: block;
  }
}
.arrow-line-right {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url(../images/sprite.png) no-repeat -43px -75px;
  width: 7px;
  height: 12px;
}
.feature-cotainer {
  max-width: 900px;
  margin: auto;
  overflow: auto;
  white-space: nowrap;
}
.mob-nav {
  li {
    min-width: 143px;
    display: inline-block;
    font-size: 17px;
    a {
      color: #333;
      text-align: center;
      display: block;
      padding: 7px;
      span {
        width: auto;
        min-height: 0;
        display: inline-block;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          border-bottom: 2px solid @button-red-color;
        }
      }
    }
  }
}
.mob-nav > li.active a span:after,
.mob-nav > li a:hover span:after {
  width: 100%;
  transition: width 0.5s;
}
.logo-icon {
  display: block;
  width: 70px;
  height: 70px;
  margin: 4px auto;
}
.logo {
  padding: 10px 0;
}
.features-list {
  img {
    width: 30%;
    height: auto;
  }
  .row {
    border-bottom: 1px solid #343f53;
  }
  .row:last-child {
    border-bottom: none;
  }
  .right {
    float: right;
  }
}
/* --- Pricing Page --- */
.pricing-heading h1 {
  padding: 15px;
}
.pricing-list {
  padding-bottom: 25px;
}
.mobile {
  display: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
section.pricing {
  table {
    margin: 0 auto;
    width: 100%;
    z-index: 999999999;
    position: relative;
    th {
      padding: 15px;
    }
    thead tr {
      border: 2px solid @pricing-primary-color;
    }
    thead th {
      border-right: 2px solid @pricing-primary-color;
    }
    header {
      text-align: center;
      text-transform: uppercase;
    }
    td {
      padding: 10px;
      border-bottom: 2px solid @pricing-primary-color;
      text-align: center;
    }
    td.label {
      background: @pricing-primary-color;
      border-left: 2px solid @pricing-primary-color;
    }
    td:not(.label) {
      border-right: 2px solid #f6eff1;
    }
    td.label.light {
      background: #fcf8f5;
      border-left: 2px solid#FCF8F5;
    }
    .price {
      font-size: 30px;
      font-weight: 300;
    }
    &:not(.extended_view) td.label {
      color: #333;
      text-align: center;
      border-right: 2px solid @pricing-primary-color;
      border-color: @pricing-primary-color;
      font-size: 15px;
    }
    &:not(.extended_view) td {
      padding: 0 20px;
      height: 60px;
      font-size: 15px;
    }
  }
}
.planyes,
.planno {
  width: 25px;
  height: 25px;
}
/* --- User Stories --- */
.userstoreis {
  img {
    border-radius: 99px;
  }
  .img-left {
    text-align: left;
  }
  .img-right {
    text-align: right;
  }
  .userstoryname {
    .home-userstoreis.userstoryname();
  }
}
/* --- Footer --- */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 20px 0 22px;
  background-color: @footer-color;
  color: @white-color;
  .center();
}
/* --- media query for menu --- */
@media only screen and (max-width: 800px) {
}

/* --- media query for menu --- */
@media only screen and (max-width: 800px) {
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
  .col-2,
  .col-3,
  .col-4 img {
    max-width: 100%;
  }
  .left,
  .right {
    float: none;
  }
  .userstoreis .img-left,
  .img-right {
    text-align: center;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .column.subscription_plans {
    width: auto;
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-top: 30px;
      font-size: 15px;
      .column.subscription_plans ul li:last-of-type {
        margin-bottom: 0;
      }
      li {
        display: block;
        width: 100%;
        text-align: center;
        background: #f6eff1;
        border-radius: 5px;
        margin-bottom: 20px;
        .upper header {
          text-align: center;
          font-weight: 600;
          text-transform: uppercase;
        }
        &.standard .features {
          background: #fcf8f5;
        }
        .features section.mobilesignup {
          text-align: center;
        }
        .lower,
        .upper {
          padding: 15px;
        }
        .upper .price {
          font-size: 30px;
          font-weight: 500;
        }
        &:not(.standard) .features {
          border-radius: 0 0 5px 5px;
          background: rgba(0, 0, 0, 0.05);
        }
        .features section {
          padding: 10px 0;
          text-align: left;
          padding-left: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .form-container {
    .col-2 {
      width: 100%;
    }
    .row {
      display: block;
    }
  }
  .row {
    text-align: center;
  }

  .col-2,
  .col-3,
  .col-4 img {
    max-width: 100%;
  }
  .headerright {
    position: absolute;
    top: 0;
    margin-top: 25px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
