* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.center,
p {
  text-align: center;
}
.padding-sides {
  padding-left: 25px;
  padding-right: 25px;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.dashboard-content {
  max-width: 1300px;
  margin: auto;
  padding: 25px;
}
.header {
  background: radial-gradient(#fff, #d1e8fd);
}
.header .row {
  margin-top: 70px;
}
.navbar {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: #555;
}
.logo {
  padding: 10px 0;
}
.wrapper {
  display: flex;
  position: relative;
}
.wrapper .sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  overflow: hidden;
  background-color: #e43958;
  padding: 30px 0;
}
.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(225, 225, 225, 0.05);
}
.wrapper .sidebar ul li a {
  color: #fff;
  display: block;
}
.wrapper .sidebar ul li a .fas .fa {
  width: 30px;
  display: block;
  margin-right: 5px!important;
}
.wrapper .sidebar ul li a span {
  margin-left: 5px
}
.wrapper .sidebar ul li:hover {
  background: #f6eff1;
}
.wrapper .sidebar ul li:hover a {
  color: #e43958;
}
.wrapper .main-content {
  width: 100%;
  margin-left: 200px;
}
.wrapper .main-content .header {
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}
.wrapper .main-content .info {
  margin: 20px;
}
.wrapper .main-content .info .top-content {
  float: right;
}
.wrapper .main-content .info .top-content a {
  text-decoration: underline;
}
.wrapper .main-content .info .select_status {
  float: right;
}
.wrapper .main-content .info .content-table {
  border-collapse: collapse;
  margin: 25px 0;
  width: 100%;
  font-size: 0.9em;
}
.wrapper .main-content .info .content-table thead tr {
  background-color: #028f83;
  color: #fff;
  text-align: left;
}
.wrapper .main-content .info .content-table th,
.wrapper .main-content .info .content-table td {
  padding: 12px 15px;
}
.wrapper .main-content .info .content-table tbody {
  border-left: 1px solid #028f83;
  border-right: 1px solid #028f83;
}
.wrapper .main-content .info .content-table tbody tr {
  border-bottom: 1px solid #028f83;
}
.wrapper .main-content .info .content-table tbody tr td {
  border-left: 1px solid #028f83;
}
.rightmenu {
  flex: 1;
  text-align: right;
}
.rfvstyle {
    color: red;
}
.val-summary {
    float: left;
    width: 100%;
}
.validation-error {
    color: red;
}
.validation-error ul {
    padding-left: 25px;
}
@media only screen and (max-width: 800px) {
  .rightmenu {
    flex-basis: 100%;
  }
}
.rightmenu a {
  margin-left: 5px;
}
.btn {
  display: inline-block;
  background: #e43958;
  color: #fff;
  padding: 8px 20px;
  margin: 10px 0px;
  text-align: center;
}
.btn:hover {
  background: #343f53;
}
/*span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding-left: 10px;
  color: #e43958;
}*/
.flexcolumnpadding {
  padding: 20px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media only screen and (max-width: 800px) {
  .row {
    text-align: center;
  }
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
  padding: 20px;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.col-3 {
  flex: 0 1 33.33333333%;
  max-width: 33.33%;
}
.col-4 {
  flex-basis: 25%;
  min-width: 200px;
}
.trans-stats {
  border: 1px solid #e43958;
  padding: 25px;
}
/* --- feedback page --- */
.form-container {
  width: 450px;
  position: relative;
  padding: 20px 25px;
  background: #fff;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}
.form-container .row {
  padding-bottom: 15px;
}
.form-container .col-2 {
  width: 50%;
  padding: 0px;
  min-width: auto;
}
.form-container .paddingright {
  padding-right: 5px;
}
.form-container label {
  float: left;
}
.form-container .label {
  float: left;
}
.form-container input[type=text],
.form-container input[type=password],
.form-container select,
.form-container textarea {
  width: 95%;
  padding: 5px;
}
.form-container input[type="checkbox"] {
  width: 15px;
  padding: 5px;
}
.form-container .input-display {
  display: block;
}
.label-error {
    color:red;
}

.label-success {
    color:green;
}
@media only screen and (max-width: 800px) {
  .form-container {
    width: 100%;
  }
  .form-container .row {
    display: block;
  }
  .form-container .col-2 {
    width: 100%;
  }
}
/* --- Footer --- */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0 22px;
  background-color: #343f53;
  color: #fff;
  text-align: center;
}
/* --- media query for menu --- */
@media only screen and (max-width: 800px) {
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
}
